input {
    border: 0px;
    border-bottom: 1px solid #b4b4b4;
    margin-bottom: 10px;
}
input:focus{
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(red, green, blue, 0);
    box-shadow: none;
}
form{
    width: 50%;
}
small{
    color: red;
}