<div class="card" style="width: 100%;">
    <img class="card-img-top" [src]="user.avatar ? user.avatar : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png'" [alt]="user.first_name" />
    <div class="card-body">
      <h5 class="card-title">{{user.first_name | uppercase}}</h5>
      <h5 class="card-title">{{user.last_name}}</h5>
      <p class="card-text"><i class="fa fa-envelope" aria-hidden="true"></i><br/>{{user.email}}</p>
      <a href="#" class="btn btn-light" title="View User"><i class="fa fa-id-card-o" aria-hidden="true"></i></a>
      <a [routerLink]="['../user/form/',user.id]" class="btn btn-secondary" title="Edit User"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    </div>
  </div>