<h4 style="color: #FFF;"><i class="fa fa-users" aria-hidden="true"></i> UsersPanel</h4>
<nav class="pt-4">
    <ul class="list-group bg-secondary">
        <a class="list-group-item bg-secondary" routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Home
        </a>
        <a class="list-group-item bg-secondary" routerLink="/users" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Users
        </a>
        <a class="list-group-item bg-secondary" routerLink="/user/form/0" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Add/Update User
        </a>
    </ul>
</nav>